/*
==================
 max-width:1199px
==================
*/
@media (max-width:1199px){

}
/*
==================
 max-width:991px
==================
*/
@media (max-width:991px){



}	

/*
==================
 max-width:768px
==================
*/
@media (max-width:768px){


	
}


/*
==================
 max-width:615px
==================
*/
@media (max-width:615px){
	
	
	
}
/*
==================
 max-width:577px
==================
*/
@media (max-width:577px){
	
	
	
}


/*
==================
 max-width:530px
==================
*/
@media (max-width:530px){



    
}



/*
==================
 max-width:480px
==================
*/
@media (max-width:480px){


	
	
}
/*
==================
 max-width:430px
==================
*/
@media (max-width:430px){


	
	
	
}

/*
==================
 max-width:400px
==================
*/
@media (max-width:400px){

	
	
}

/*
==================
 max-width:380px
==================
*/
@media (max-width:380px){


	
	
}

/*
==================
 max-width:340px
==================
*/
@media (max-width:340px){


}

/*
==================
 max-width:305px
==================
*/
@media (max-width:305px){



}











